/* HEADER */
.header {
    background-color: #f8f9fa;
    height: 70px ;
    width: 100%;
}

.header-container {
    background-color: white;
}

.input_group {
    background-color: #e5e5e5;
}

.icon-navbar a i {
    color: #5a5757;
}

.icon-navbar :last-child i  {
    color: #ff9003;
}

.img_logo_mobile {
    height: 47px;
    width: 47px;
}

/* MAIN------------- */

/* ASIDE BAR */
.aside-bar {
    width: 125px;
    height: calc(100vh - 70px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.size-icon-asidebar {
    width: 30px;
}

.size-text-asidebar {
    font-size: 14px;
    font-weight: bold;
}


/* TOP MAIN */

/* MAIN CENTER */





/* MEDIA QUERY----------------- */

/* MEDIA QUERY MD TABLET 992px-------- */
@media all and (max-width: 992px) {
    .aside-bar {
        width: 55px;
    }

}